@font-face {
    font-family: 'Sofia Light';
    src: url('../fonts/sofiapro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Regular';
    src: url('../fonts/sofiapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Medium';
    src: url('../fonts/sofiapro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Bold';
    src: url('../fonts/sofiapro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
